form {
    width: 45%;
    padding: 5% 9% 5% 1%;
    float: right;
    margin-top: 2%;
    margin-bottom: 20%;
}

.contact {
    width: 45%;
    padding: 5% 1% 5% 9%;
    display: inline-block;
    margin-top: 2%;
    margin-bottom: 20%;
}

label {
    font-family: 'Raleway', sans-serif;
}

.header {
    font-family: 'Raleway', sans-serif;
    margin-top: 6%;
}

.emailphone {
    font-family: 'Raleway', sans-serif;
    margin-top: 6%;
}

h5 {
    font-size: 125%
}

input {
    font-family: 'Lato', sans-serif;
}

