.navbar {
    padding: 0.5% 3% 0.6% 3%;
}

.nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    background-image: linear-gradient(-225deg,
    #231557 0%,
    #00763b 29%,
    #00e070 67%,
    #2fff59 100%);
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.welcome {
    font-family: 'Raleway', sans-serif;
}

.selfportrait {
    float: left;
    width: 50%;
}

.pos_center {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
}

.portrait_sec {
    padding-top: 20%;
}

.row {
    padding-top: 2.5%;
    padding-left: 10%;
    padding-right: 10%;

}

.mainprojects {
    padding-top: 60%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.card-title {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}

.footername {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
}

p {
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 20px;
}

.beginningtext {
    font-size: 160%;
    font-weight: bold;
}

.card {
    width: 80%;
    height: 80%;
    border: none;
    margin-top: 5%;
    margin-bottom: 10%;
}

.card-title {
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'Raleway', sans-serif;
}

.btn {
    margin-top: 3%;
    padding: 2% 4% 2% 4%;
    font-family: 'Lato', sans-serif;
}

footer {
    background-color: rgb(243, 243, 243);
    padding: 4% 5% 6% 5%;
}

.footer-name {
    color: black;;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    padding-bottom: 2%;
}

.footer-email-number {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-top: 10px;
}


